<link rel="stylesheet" href="/css/header.css">
<div class="header">
    <div class="newpost">
            <div class="top">
                 <div class="postheading">Create a New Post</div>
                      <div class="cross">x</div>
            </div>
            <form action="/posts/create" method="POST">
               <textarea placeholder="Write Something" name="content"></textarea>
               <input type="submit" value="Post"> 
            </form>                
            
    </div>
    <div class="mainsection">
        
        <div class="logo" id="x"><img src="profile.png" alt=""></div>
        <div class="symbol"><img src="Home.png" alt=""></div>
        <div class="symbol"><img src="questions.png" alt=""></div>
        <div class="search"></div>
        <div class="symbol" id="createpost"><img src="Add.png" alt=""></div>
        <div class="symbol"><img src="notificationbell.png" alt=""></div>
        <div class="symbol"><img src="settings.png" alt=""></div>
        <div class="profile-photo"><img src="profile.png" alt=""></div>
        <div class="options">
                <div class="dropdown">
                    <div class="dropdownoptions">
                        <a href=""></a>
                        <img src="profile.png">
                        <p>Profile</p>
                    </div>
                    <div class="dropdownoptions">
                        <a href=""></a>
                        <a href="/users/sign-out"><img src="profile.png"></a>
                        
                        <p>Log Out</p>
                    </div>
                   
                </div>
        </div>
    </div>   
</div>
<script type="text/javascript" src="/javascript/header.js"></script>