<link rel="stylesheet" href="/css/header.css">
<div class="header">
    <div class="mainsection">
        <div class="logo"><img src="/images/profile.png" alt=""></div>
        <div class="symbol"><img src="/images/home.png" alt=""></div>
        <div class="symbol"><img src="/images/questions.png" alt=""></div>
        <div class="search"></div>
        <div class="symbol"><img src="/images/notificationbell.png" alt=""></div>
        <div class="symbol"><img src="/images/settings.png" alt=""></div>
        <div class="profile-photo"><img src="/images/profile.png" alt=""></div>
    </div>   
</div>