<link rel="stylesheet" href="/css/home.css">
<div class="mainsec">
    <div class="main">
            <div class="maincontent">
                <div class="post">
                    <div class="userdetails">
                        <img src="profile.png" alt="">
                        <div class="usersname">
                            <h5>Bobby Misner</h5> 
                            <br>
                            13 August 2021 at 10:13 PM  
                        </div>
                    </div>
                    <div class="post-photo">
                        <img src="model.jpg" alt="">   
                    </div>
                    <div class="reactionsdiv">
                        <div class="reactions">
                            <img src="Like.png" alt="">
                            <img src="Heart.png" alt="">
                            <img src="Laugh.png" alt="">
                            <img src="Angry.png" alt="">
                            <div class="reactionnumber">255</div>
                            <div class="postcomments">
                                <img class="share" src="comment.png" alt="">
                            </div>
                           

                        </div> 
                        <div class="postcontent">
                            A paragraph is a series of related sentences developing a central idea, called the topic. Try to think about paragraphs in terms of thematic unity: a paragraph is a sentence or a group of sentences that supports one central, unified idea. Paragraphs add one idea at a time to your broader argument.
                        </div>
                    </div>


                </div> 
                <div class="post">
                    <div class="userdetails">
                        <img src="profile.png" alt="">
                        <div class="usersname">
                            <h5>Logan Paul</h5> 
                            <br>
                            12 August 2021 at 9:15 PM  
                        </div>
                    </div>
                    <div class="post-photo">
                        <img src="loganpaul.jpg" alt="">   
                    </div>
                    <div class="reactions">
                        <img src="Like.png" alt="">
                        <img src="Heart.png" alt="">
                        <img src="Laugh.png" alt="">
                        <img src="Angry.png" alt="">
                        <div class="reactionnumber">255</div>
                        <div class="commentdetails">
                            <img class="commentbutton" src="Share.png" alt="">
                            <div class="commentnumber">255</div>
                        </div>
                        
                    </div> 
                </div>  

            </div>
            <div class="commentsection">
                <div class="commentsectionheader">
                    <div class="commentscross">x</div>
                    
                </div>
                <div class="comments">
                <div class="comment">
                    <div class="commentleft">
                        <img src="profile.png ">
                    </div>
                    <div class="commentright">
                        <div class="commentusername"><h4>hamid barkzi</h4></div>
                        <div class="commentcontent">
                            Aweasome post i like it very much
                        </div>
                    </div>
                </div>
                <div class="comment">
                    <div class="commentleft">
                        <img src="profile.png ">
                    </div>
                    <div class="commentright">
                        <div class="commentusername"><h4>kevin alamsifar</h4></div>
                        <div class="commentcontent">
                            Welcome to the kevin show
                        </div>
                    </div>
                </div>
                  <div class="comment">
                    <div class="commentleft">
                        <img src="profile.png ">
                    </div>
                    <div class="commentright">
                        <div class="commentusername"><h4>hamid barkzi</h4></div>
                        <div class="commentcontent">
                            Aweasome post i like it very much
                        </div>
                    </div>
                </div>
                <div class="comment">
                    <div class="commentleft">
                        <img src="profile.png ">
                    </div>
                    <div class="commentright">
                        <div class="commentusername"><h4>kevin alamsifar</h4></div>
                        <div class="commentcontent">
                            Welcome to the kevin show
                        </div>
                    </div>
                </div>
                <div class="comment">
                    <div class="commentleft">
                        <img src="profile.png ">
                    </div>
                    <div class="commentright">
                        <div class="commentusername"><h4>hamid barkzi</h4></div>
                        <div class="commentcontent">
                            Aweasome post i like it very much
                        </div>
                    </div>
                </div>
                <div class="comment">
                    <div class="commentleft">
                        <img src="profile.png ">
                    </div>
                    <div class="commentright">
                        <div class="commentusername"><h4>kevin alamsifar</h4></div>
                        <div class="commentcontent">
                            Welcome to the kevin show
                        </div>
                    </div>
                </div>
                    <div class="comment">
                    <div class="commentleft">
                        <img src="profile.png ">
                    </div>
                    <div class="commentright">
                        <div class="commentusername"><h4>hamid barkzi</h4></div>
                        <div class="commentcontent">
                            Aweasome post i like it very much
                        </div>
                    </div>
                </div>
                <div class="comment">
                    <div class="commentleft">
                        <img src="profile.png ">
                    </div>
                    <div class="commentright">
                        <div class="commentusername"><h4>kevin alamsifar</h4></div>
                        <div class="commentcontent">
                            Welcome to the kevin show
                        </div>
                    </div>
                </div> 
                <div class="comment">
                    <div class="commentleft">
                        <img src="profile.png ">
                    </div>
                    <div class="commentright">
                        <div class="commentusername"><h4>hamid barkzi</h4></div>
                        <div class="commentcontent">
                            Aweasome post i like it very much
                        </div>
                    </div>
                </div>
                <div class="comment">
                    <div class="commentleft">
                        <img src="profile.png ">
                    </div>
                    <div class="commentright">
                        <div class="commentusername"><h4>kevin alamsifar</h4></div>
                        <div class="commentcontent">
                            Welcome to the kevin show
                        </div>
                    </div>
                </div>
                </div>
                <div class="commentsfill">
                    <form>
                        <textarea placeholder="Add a comment"></textarea>
                        <input type="submit" name="">
                    </form>
                </div>

            </div>

            <div class="sidecontent">
                <div class="pageheading"> Popular Pages</div>
               
                <div class="popularpages">
                    <div class="page">
                        <img src="adultsociety.jpg" alt="">
                        <div class="pagedetails">
                            <h4>Adult Society</h4>
                               Humour Funny Troll
                        </div>
                       
                    </div>
                    <div class="page">
                        <img src="sarcasticjocker.jpg" alt="">
                        <div class="pagedetails">
                            <h4>Sarcastic Joker</h4>
                             Funny Humour Troll
                        </div> 
                       
                    </div>
                    <div class="page">
                        <img src="gamer.jpg" alt="">
                        <div class="pagedetails">
                            <h4>Gamer Zone</h4>
                               Stremes Competitive
                        </div>
                       
                    </div>
                    <div class="page">
                        <img src="healthtips.jpg" alt="">
                        <div class="pagedetails">
                            <h4>Health Tips</h4>
                               Fitness Goals
                        </div>
                       
                    </div>
                    <div class="page">
                        <img src="dudeperfect.png" alt="">
                        <div class="pagedetails">
                            <h4>Dude Perfect</h4>
                               Entertainment
                        </div>
                       
                    </div>
                    <div class="page">
                        <img src="pewdiepie.png" alt="">
                        <div class="pagedetails">
                            <h4>Pew Die Pie</h4>
                               Vlogging Youtube
                        </div>
                       
                    </div>
                </div>
                <div class="policypages">
                    <div class="policypage">
                        About Us
                    </div>
                    <div class="policypage">
                        Help 
                    </div>
                    <div class="policypage">
                        Contact Us
                    </div>
                    <div class="policypage">
                        Privacy Policy
                    </div>
                    <div class="policypage">
                        Cookies
                    </div>
                    
                    

                </div>
            </div>
        </div>
    </div>
