<!DOCTYPE html>
<html>
<head>
    <!-- <link rel="stylesheet" href="/css/home.css"> -->
    <%- style %>
<title>Page Title</title>
</head>
<body>
<%-include('_header')%>
<%-body%>
<!-- <script type="text/javascript" src="/javascript/home.js"></script> -->

</body>

</html>