<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/profile.css">

<title>Page Title</title>
</head>
<body>
    <div class="mainsec">
    <div class="main">
            <div class="maincontent">
                <div class="profilesection">
                    <div class="left">
                        <img src="model.jpg">
                        <div class="bio">Model</div>
                        <div class="bio">Photography</div>
                        <div class="bio">Fitness Freak</div>
                    </div>
                    <div class="right">
                        <div class="userdetails">
                            <div class="username"><h3>hamid007</h3></div>
                            <button>Follow</button>
                            <em>Hamid Barkzi</em>   
                        </div>
                        <div class="userstats">
                            <img src="gamer.jpg">
                            <div class="propertyname">Followers</div>
                            <div class="propertyweight">10000</div>
                        </div>
                        <div class="userstats">
                            <img src="gamer.jpg">
                            <div class="propertyname">Following</div>
                            <div class="propertyweight">10000</div>
                        </div>
                        <div class="userstats">
                            <img src="gamer.jpg">
                            <div class="propertyname">Questions</div>
                            <div class="propertyweight">10000</div>
                        </div>
                        <div class="userstats">
                            <img src="gamer.jpg">
                            <div class="propertyname">Answers</div>
                            <div class="propertyweight">10000</div>
                        </div>
                        <div class="userstats">
                            <img src="gamer.jpg">
                            <div class="propertyname">Posts</div>
                            <div class="propertyweight">10000</div>
                        </div>
                         
                    </div>
                 </div>
                 <div class="bottomsection">
                     <div class="displayoptions">
                         <div class="displayoptionq">
                            Questions
                            <div class="selectedoption"></div>
                         </div>
                         <div class="displayoptiona">
                            Answers
                            <div class="selectedoption"></div>
                         </div>
                         <div class="displayoptionp">
                         Posts
                         <div class="selectedoption"></div>
                        </div>
                     </div>
                    <div class="allpostscontainer">
                         <div class="allposts"><img src="model.jpg"></div>
                         <div class="allposts"><img src="model.jpg"></div>
                         <div class="allposts"><img src="model.jpg"></div>
                         <div class="allposts"><img src="model.jpg"></div>
                         <div class="allposts"><img src="model.jpg"></div>
                         <div class="allposts"><img src="model.jpg"></div>
                    </div>

                 </div>

            </div>
            <div class="sidecontent">
                <div class="pageheading"> Popular Pages</div>
               
                <div class="popularpages">
                    <div class="page">
                        <img src="adultsociety.jpg" alt="">
                        <div class="pagedetails">
                            <h4>Adult Society</h4>
                               Humour Funny Troll
                        </div>
                       
                    </div>
                    <div class="page">
                        <img src="sarcasticjocker.jpg" alt="">
                        <div class="pagedetails">
                            <h4>Sarcastic Joker</h4>
                             Funny Humour Troll
                        </div> 
                       
                    </div>
                    <div class="page">
                        <img src="gamer.jpg" alt="">
                        <div class="pagedetails">
                            <h4>Gamer Zone</h4>
                               Stremes Competitive
                        </div>
                       
                    </div>
                    <div class="page">
                        <img src="healthtips.jpg" alt="">
                        <div class="pagedetails">
                            <h4>Health Tips</h4>
                               Fitness Goals
                        </div>
                       
                    </div>
                    <div class="page">
                        <img src="dudeperfect.png" alt="">
                        <div class="pagedetails">
                            <h4>Dude Perfect</h4>
                               Entertainment
                        </div>
                       
                    </div>
                    <div class="page">
                        <img src="pewdiepie.png" alt="">
                        <div class="pagedetails">
                            <h4>Pew Die Pie</h4>
                               Vlogging Youtube
                        </div>
                       
                    </div>
                </div>
                <div class="policypages">
                    <div class="policypage">
                        About Us
                    </div>
                    <div class="policypage">
                        Help 
                    </div>
                    <div class="policypage">
                        Contact Us
                    </div>
                    <div class="policypage">
                        Privacy Policy
                    </div>
                    <div class="policypage">
                        Cookies
                    </div>
                    
                    

                </div>
            </div>
        </div>
    </div>

</body>
</html>