body{
    margin: 0%;    
}
.mainsec {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.main {
    height: 100%;
    width: 867px;
    margin-top: 30px;
    display: flex;
}
.maincontent{
    width: 70%;
    /* background-color: pink; */
}

.sidecontent {
    /* background-color: aqua; */
    font-size: x-large;
    font-family: monospace;
    margin-left: 55px;
    height: 625px;
}

.post {
    height: 682px;
    width: 100%;
    margin-bottom: 25px;
}
.userdetails {
    width: 100%;
    height: 9%;
    background-color: white;
    display: flex;
    padding-left: 12px;
    box-sizing: border-box;
    border: black 1px solid;
    border-bottom: 0em;
}
.userdetails img {
    height: 44px;
    width: 44px;
    margin: 6px;
}
.usersname {
    /* background-color: aqua; */
     margin-left: 11px; 
    height: 46px;
    margin: 4px;
    font-family: system-ui;
}
.usersname h5 {
    margin: 0%;
    display: contents;
    font-size: 20px;
    /* size: a3; */
}
.post-photo {
    width: 100%;
    height: 82%;
}
.post-photo img {
    height: 100%;
    width: 100%;
    border: 1px solid black;
    box-sizing: border-box;
}
.reactions {
    width: 100%;
    height: 9%;
    background-color: white;
    display: flex;
    box-sizing: border-box;
    border: 1px solid black;
    border-top: 0;
}
.reactions img {
    height: 44px;
    width: 44px;
    margin: 8px;
}
.reactionnumber {
    margin: 12px;
    color: black;
    font-family: system-ui;
    font-size: x-large;
}
.sharedetails {
    margin: 0%;
    margin-left: 179px;
    display: flex;
}
.sharenumber{
    margin: 12px;
    color: black;
    font-family: system-ui;
    font-size: x-large;

}
/* Side Section */
.pageheading{
    margin: 0;
}

.sidecontent {
    /* background-color: aqua; */
    font-size: x-large;
    font-family: monospace;
    margin-left: 55px;
}
.popularpages{
    
}
.policypages {
    
    font-family: system-ui;
    margin-top: 25px;
}
.policypage {
    margin: 0%;
    margin-top: 5px;
}

.page {
    display: flex;
    font-family: sans-serif;
    height: 50px;
    font-size: 15px;
    margin-top: 15px;
}
.pagedetails{
margin: 3px;
}

.page h4{
margin: 0%;
font-size: 20px;
font-family: sans-serif

}
.page img {
    height: 40px;
    width: 40px;
    margin: 4px;
}




